@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f7f8;
}

/* CSS para dispositivos móveis */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Ajusta o tamanho da fonte */
        padding: 0 10px; /* Padding nas laterais */
    }

    main {
        display: flex;
        flex-direction: column; /* Organiza os itens em coluna */
        align-items: center;    /* Centraliza os itens */
    }

    .flex {
        flex-direction: column; /* Muda a direção do flex para coluna */
        align-items: center;    /* Centraliza itens */
        margin-bottom: 20px;    /* Espaçamento entre produtos */
    }

    img {
        width: 100%;  /* Faz as imagens ocuparem 100% da largura do container */
        height: auto;  /* Mantém a proporção da imagem */
        max-width: 200px; /* Limita a largura máxima das imagens */
    }

    #cart-modal {
        width: 90%; /* Faz o modal ocupar 90% da largura */
        margin: auto; /* Centraliza o modal */
        max-height: 80vh; /* Limita a altura do modal para 80% da viewport */
        overflow-y: auto; /* Ativa rolagem interna no modal */
    }

    /* Alinhamento dos itens do carrinho à esquerda */
    #cart-items .cart-item {
        text-align: left; /* Garante que o texto fique alinhado à esquerda */
    }

    #cart-items .cart-item div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer {
        padding: 0; /* Remove o preenchimento no footer */
        margin: 0;  /* Remove o espaço fora do footer */
        flex-direction: row; /* Alinha os itens na horizontal */
        justify-content: center; /* Centraliza os itens horizontalmente */
    }

    #cart-btn {
        margin: 0; /* Remove a margem do botão do carrinho */
        padding: 0; /* Remove o padding se necessário */
        display: flex; /* Usa flex para alinhar os itens no botão */
        align-items: center; /* Centraliza verticalmente */
    }

    #cart-count {
        margin: 0 5px; /* Ajusta o espaço ao redor do contador */
    }
}

/* CSS para telas maiores */
@media (min-width: 769px) {
    main {
        display: flex;
        flex-direction: row; /* Itens lado a lado */
        justify-content: space-between; /* Espaça os itens */
    }

    img {
        width: auto; /* Imagens com largura automática */
        max-width: 300px; /* Maior tamanho para telas grandes */
    }

    footer {
        justify-content: space-between; /* Espaça os itens no footer */
        padding: 20px; /* Adiciona preenchimento ao footer */
    }

    #cart-modal {
        width: 50%; /* O modal ocupará 50% da largura em telas maiores */
    }
}
